* {
    padding: 0;
    margin: 0;
}

.logo {
  width: 61px;
  height: 24px;
  padding: 60px 1379px 1104px 480px;
  object-fit: contain;
  font-family: CreteRound;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.26;
  letter-spacing: 1.7px;
  text-align: left;
  color: #060c31;
}
